<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="ion-text-center">
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>SkeletonAPP</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Aqui comienza todo
  </ion-card-content>
</ion-card>

<ion-item>
  <ion-label position="stacked">Usuario</ion-label>
  <ion-input ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Contrasenha</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>
<ion-button color="light" expand="full">Ingresar</ion-button>
<p>Crea tu cuenta gratis</p>
</ion-content>
