<ion-header>
  <ion-toolbar>
    <ion-card >
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
        <ion-text class="ion-text-left">Usuario</ion-text>
        <ion-card-subtitle class="ion-text-center">Informacion adicional</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
  <ion-label>Nombre</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label>Apellido</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-button color="light" expand="full" [routerLink]="'/login'"
    >Volver</ion-button
  >
  </ion-content>
